.property-details-img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.property-details-main-img{
  width: 50%;
}

.property-details-group-images{
  width: 50%;
}

.property-details-top-imgs{
display: flex;
justify-content: center;
width: 100%;
height: 50%;

}

.property-details-bottom-imgs{
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  height: 50%;
}

.property-main{
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.property-main-inline{
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: inline-block;
}

.details-body{
  width: 760pt;
  margin-left: 4%;
  margin-right: 4%;
  background-color: white;
  height: 1000pt;
  display: flex;
  justify-content: center;
  margin-top: 30pt;
}
.center{
  display: flex;
  justify-content: center;
}

.details-left{
  width: 60%;
  height: 500pt;
  background-color: white;
}

.property-booking-form{
    border: 1px solid #EDEDED;
    border-radius: 4pt;
    width: 100%;
    height: 300pt;
}

.details-right{
  width: 35%;
  margin-left: 5%;
  background-color: white;
}

.property-box{
  background-color: white;
  height: 48%;
}

.property-tile{
  margin-left: 10pt;
  background-color: white;
  display: inline-block;
  height: 250pt;
  width: 220pt;
  box-shadow: 4px 4px 10px 1px rgba(217,217,217,1);
  margin-top: 10pt;
  margin-bottom: 10pt;
}

.place-holder-img{
  width: 100%;
  height: 125pt;
  overflow: hidden;
  position: relative;
}

.property-info-container{
  height: 100pt;
  width: 100%;
  background-color: white;
}

.property-details-container-tile{
  margin-top: 3pt;
  margin-bottom: 6pt;
}

.property-image{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.property-details{
  font-size: 10pt;
  color: #484848;
  font-weight: 400;
  display: inline-block;
}

.property-specs-container{
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12pt;
}

.type{
  font-size: 14pt;
  color: #FA3C6D;
  margin-bottom: 3pt;
}

.property-title{
  color: #484848;
  width: 80%;
  margin-bottom: 3pt;
}

.location{
  color: #484848;
  font-weight: 200;
  margin-bottom: 12pt;
}

.details{
  margin-top: 18pt;
  color: #484848;
}

.guest-icon{
  width: 12pt;
  height: 12pt;
}

.room-icon{
  width: 14pt;
  height: 14pt;
}

.details-specs-text{
  font-size: 12pt;
  font-weight: 200;
  margin-left: 4pt;
}

.detail-inline{
  display: flex;
  justify-content: space-between;
}

.property-highlights-container{
  width: 100%;
  border: 1px solid #EDEDED;
  border-radius: 4pt;
}

.highlights-title{
  font-size: 10pt;
  color: #484848;
  font-weight: 400;
  padding-top: 18pt;
  padding-left: 18pt;
}

.highlights-paragraph{
  font-size: 12pt;
  color: #484848;
  padding-top: 9pt;
  padding-left: 18pt;
  padding-right: 18pt;
}

.helpful-container{
  display: flex;
  justify-content: center;
  width: 28%;
  margin-top: 9pt;
  margin-bottom: 2pt;
  margin-left: 2%;

}

.not-helpful-text{
  font-weight: 200;
  color: #4A90E2;
}

.helpful-text{
  font-weight: 200;
  color: #4A90E2;
}

.helpful-icon{
  height: 12pt;
  width: 15pt;
}

.map{
  margin-top: 18pt;
  height: 265pt;
}

.map-dot{
  width: 24pt;
  height: 22pt;
}

.map-dot-icon{
  width: 100%;
}

.booking-price-header{
  width: 90%;
  margin-left: 5%;
  border-bottom: 1px solid #EDEDED;
  height: 20%;
  background-color: white;
}

.rating-container{
  width: 40pt;
  height:18pt;
  background-color: #3BBCDD;
  border-radius: 2pt;
  display: flex;
  justify-content: center;
  margin-top: 5pt;
}

.rating-container-tile{
  width: 35pt;
  height:15pt;
  background-color: #3BBCDD;
  border-radius: 2pt;
  display: flex;
  justify-content: center;
  margin-top: 10pt;
}

.star-icon{
  margin-top: 2pt;
  width: 14pt;
  height: 14pt;
}

.star-icon-tile{
  margin-top: 1.2pt;
  width: 12pt;
  height: 12pt;
}

.rating-text{
  color: white;
  padding: 2pt;
  display: inline-block;
}

.rating-text-tile{
  color: white;
  padding: 1pt;
  display: inline-block;
  font-size: 10pt;
}

.price-text{
  display: inline-block;
    color: #484848;
    font-size: 16pt;
    margin-bottom: 0;
}

.inline-text{
  display: inline-block;
  font-size: 10pt;
  font-weight: 300;
  color: #484848;
  margin-left: 3pt;
}

.date-form{
  width: 90%;
  margin-left: 5%;
  display: inline-table;
  margin-top: 20pt;
}

.check-in-picker{
  border: 0;
  width:50%;
  border-left: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-align: right;
    color: #484848;
}

.your-details-label{
  margin-top: 6pt;
  font-size: 10pt;
  color: #484848;
  font-weight: 600;
}

.booking-submit{
  width: 94%;
  height: 25pt;
  background-color: #FA3C6D;
  color: white;
  border: 0;
  border-radius: 2pt;
  margin-top: 12pt;
  font-size: 12pt;
  font-weight: 600;
}

.dates-text{
  font-size: 10pt;
  color: #484848;
  font-weight: 600;
  margin-bottom: 6pt;
}

.check-in-picker:hover{
  color: #FA3C6D;
}

.check-in-picker::selection{
  color: #FA3C6D;
}

.check-out-picker:hover{
  color: #FA3C6D;
}

.check-out-picker::selection{
  color: #3BBCDD;
}

.check-out-picker{
  border: 0;
  width:50%;
  height: 25pt;
  border-right: 1px solid #EDEDED;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
  font-size: 10pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    text-align: right;
      color: #484848;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.booking-text-input:focus{
  border: 1px solid #FA3C6D;
}

.booking-text-input:hover{
  border: 1px solid #FA3C6D;
}

.booking-text-input{
  margin-top: 6pt;
  width: 94%;
  border: 1px solid #EDEDED;
  font-size: 10pt;
  height: 25pt;
  color: #484848;
}

.date-arrow{
  height: 25pt;
  width: 25pt;
  border-top: 1px solid #EDEDED;
  border-bottom: 1px solid #EDEDED;
}

.date-pickers-container{
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.property-link:visited{
  color: #484848;
  text-decoration: none;
}

.center-details{
  height: 112pt;
  margin-left: 8pt;
  margin-right: 8pt;
  position: relative;
}

.link-container{
  margin-top: 6pt;
}

.property-link{
  color: #4D4B4B;
  text-decoration: none;
  font-weight: 600;
  max-width: 100%;
  font-size: 1em;
  white-space: initial;
}

.property-price{
  font-size: 16pt;
}

.tile-view-type{
  color: #FA3C6D;
  margin-top: 8pt;
}

h4{
  margin: 0;
  white-space: initial;
  font-size: 1em;
}

h5{
  margin: 0;
}

p{
  margin: 0;
}

.property-price{
  display: inline-block;

}

.its-late-and-i-cant-think-of-a-classname{
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

.view-property-btn{
  display: inline-block;
}
.property-list{
  margin-top: 18pt;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width:100%;
  border-bottom-left-radius: 2pt;
  border-bottom-right-radius: 2pt;
}

.link-container{
  margin-bottom: 6pt;
  height: 22pt;
}

.property-list-title{
  color: #484848;
  margin-left: 12pt;
  padding-top: 12pt;
}

.ppn{
  display: inline-block;
  font-size: 10pt;
  font-weight: 300;
  color: #484848;
  margin-left: 2pt;
}

.next-icon{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 28pt;
  height: 28pt;
}
