.App {
  text-align: center;
}

header {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40pt;
     display: flex;
     align-items: center;
}

.logo{
  margin-left: 12%;
  height: 20pt;
  width: auto;
}
