.experience-box {
  background-color: green;
  height: 48%;
}

.experience-tile {
  margin-right: 10pt;
  background-color: white;
  display: inline-block;
  height: 250pt;
  width: 220pt;
}

.item-desc{
  margin-top: 8pt;
  width: 100%;
  white-space: initial;
  height: 50pt;
  font-size: 10pt;
color: #484848;
font-weight: 400;
display: inline-block;
}

.from{
  display: inline-block;
  font-size: 10pt;
  font-weight: 300;
  color: #484848;
  margin-right: 2pt;
}

.experience-title{
  margin-top: 2pt;
  color: #4D4B4B;
  font-weight: 600;
  max-width: 100%;
  font-size: 1.2em;
}


.experience-img{
  width: 100%
}

.experience-info-container {
  height: 100pt;
  width: 100%;
  background-color: cyan;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

.experience-price {
  display: inline-block;
}

.view-experience-btn {
  display: inline-block;
}

.experience-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  border-bottom-left-radius: 2pt;
  border-bottom-right-radius: 2pt;
}
